<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="reg" verbose="1" >
    <test name="Reg" >
        <groups>
            <run>
                <include name="my"/>
            </run>
        </groups>

        <classes>
            <class name="StudentRegistrationFormTest" />

        </classes>
    </test>
</suite>
